.faqSection {
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}

.faqSection::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: 35%;
    height: 100%;

    pointer-events: none;
    z-index: -1;

    /* Grid */
    background-image:
        linear-gradient(rgba(210, 210, 210, 0.2) 1px, transparent 1px),
        linear-gradient(90deg, rgba(155, 155, 155, 0.2) 1px, transparent 1px);


    background-size: 20px 20px;

    /* Triangle shape */
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);

    /* Fade from top-right */
    mask-image: linear-gradient(225deg,
            transparent 0%,
            rgba(0, 0, 0, 0.4) 30%,
            rgba(0, 0, 0, 1) 65%);

    -webkit-mask-image: linear-gradient(225deg,
            transparent 0%,
            rgba(0, 0, 0, 0.4) 30%,
            rgba(0, 0, 0, 1) 65%);
}

.title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 60px;
}

.title span {
    font-size: 34px;
    font-style: italic;
    font-family: "Fraunces";
    font-weight: 400;
    color: var(--foreground);
}

/* --- LAYOUT --- */

.contentWrapper {
    display: flex;
    gap: 60px;
    align-items: flex-start;
    /* Important for sticky */
}

.sidebar {
    flex: 1;
    max-width: 150px;
}

.stickyNav {
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--foreground);
    border-radius: 16px;
    padding: 40px 30px;
}

/* Base button */
.catLink {
    position: relative;
    text-align: left;
    background: none;
    border: none;

    font-size: 14px;
    font-weight: 600;
    line-height: 120%;

    color: var(--gray-60);
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Hover */
.catLink:hover {
    color: var(--gray-10);
}

/* Active Gradient Text */
.activeCat {
    background: linear-gradient(90deg,
            var(--liner1),
            var(--liner2),
            var(--liner3));

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    font-weight: 700;
}

/* --- FAQ ACCORDION --- */

.faqList {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faqItem {
    border: 1px solid var(--gray-80);
    padding: 16px 20px 0px 16px;
    border-radius: 12px;
    background-color: var(--background);
}

.questionBtn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
}

.questionBtn h6 {
    font-size: 16px;
    margin: 0;
    font-weight: 500;
    color: var(--gray-10);
    padding-right: 20px;
}

.icon {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--gray-80);
    flex-shrink: 0;

    transition:
        transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        background-color 0.3s ease;

    transform-origin: center;
}

/* horizontal line */
.icon::before,
.icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 2px;
    background: var(--foreground);
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease;
}

/* vertical line */
.icon::after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.itemOpen .icon {
    background-color: var(--foreground);
}

.itemOpen .icon {
    transform: rotate(45deg);
    background-color: var(--foreground);
}

.itemOpen .icon::before,
.itemOpen .icon::after {
    background: var(--background);
}

/* --- ANIMATED ANSWER --- */

.answerWrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.4s ease;
    overflow: hidden;
}

.itemOpen .answerWrapper {
    grid-template-rows: 1fr;
    padding-bottom: 5px;
}

.answerWrapper p {
    min-height: 0;
    padding-top: 15px;
    color: var(--gray-30);
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0px;
    font-size: 13px;
}

/* --- RESPONSIVE --- */

@media (max-width: 768px) {
    .contentWrapper {
        flex-direction: column;
    }

    .sidebar {
        max-width: 100%;
        width: 100%;
    }

    .stickyNav {
        position: relative;
        top: 0;
    }

    .catLink {
        white-space: nowrap;
    }
}

@media (max-width: 430px) {

    .icon::before,
    .icon::after {
        width: 12px;
        height: 1.5px;
    }
}