.nav {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease;
    background: transparent;
}

.nav.scrolled {
    background: #000;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.nav>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo a {
    font-weight: 700;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}

.links {
    display: flex;
    gap: 28px;
    align-items: center;
}

.links a {
    color: white;
    font-weight: 400;
    transition: opacity 0.2s ease;
}

.links a:hover {
    opacity: 0.7;
}

/* Hide menu button on desktop */
.menuBtn {
    display: none;
    font-size: 26px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

/* Mobile Drawer */
.mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--foreground);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    transform: translateX(-100%);
    transition: transform 0.4s ease;

    z-index: 2000;
}

.showMenu {
    transform: translateX(0);
}

.mobileMenu a {
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.closeBtn {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Tablet + Mobile */
@media (max-width: 770px) {
    .links {
        display: none;
    }

    .menuBtn {
        display: block;
    }
}