.nav {
    width: 100%;
    height: 89px;
    position: fixed;
    z-index: 10;

    div {
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }
}

.logo>a {
    font-weight: bolder;
    color: var(--background);
}

.links {
    display: flex;
    gap: 24px;
    align-items: center;

    a {
        color: var(--background);
        font-weight: 400;
    }
}