.nav {
    width: 100%;
    border-bottom: 1px solid #eee;

    div {
        padding: 16px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.links {
    display: flex;
    gap: 24px;
    align-items: center;
}

.loginBtn {
    padding: 8px 16px;
    cursor: pointer;
}