:root {
  /* Colors - Light Theme */
  --background: #ffffff;
  --foreground: #090909;
  --gray: #E5E5E5;
  --gray-10: #171717;
  --gray-60: #A3A3A3;

  --border: #D4D4D4;

  --liner1: #39B5D7;
  --liner2: #F7D544;
  --liner3: #E38330;
}

/* ========================================
   CSS RESET & BASE STYLES
   ======================================== */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

/* Remove default margin and padding */
html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.pri-button,
.sec-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 24px;
  border-radius: 54px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.35s cubic-bezier(0.65, 0, 0.35, 1);
}

.pri-button {
  background-color: transparent;
  border: 1px solid var(--background);
  color: var(--background);

  .btn-icon {
    color: var(--background);
  }
}

.sec-button {
  background-color: var(--background);
  color: var(--foreground);
  border: 2px solid var(--border);
  font-size: 16px;
  line-height: 150%;
}

.icon-wrapper {
  position: relative;
  width: 22px;
  height: 22px;
  overflow: hidden;
}

.btn-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.25s ease-in-out;
}

.icon1 {
  transform: translateY(0%);
}

.icon2 {
  transform: translate(-100%, 100%);
}

.pri-button:hover .icon1,
.sec-button:hover .icon1 {
  transform: translate(100%, -100%);
}

.pri-button:hover .icon2,
.sec-button:hover .icon2 {
  transform: translate(0%, 0%);
}